@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

/* @theme inline {
    --font-sans:
        Instrument Sans, ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--reka-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--reka-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
} */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }
}

/* :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(24 9.8% 10%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(24 9.8% 10%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(24 9.8% 10%);
    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(0 0% 92.1%);
    --secondary-foreground: hsl(0 0% 9%);
    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);
    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 92.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsl(24 9.8% 10%);
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
    --radius: 0.8rem;
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(0 0% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(0 0% 94%);
    --sidebar-accent-foreground: hsl(0 0% 30%);
    --sidebar-border: hsl(0 0% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --sidebar: hsl(0 0% 98%);
}

.dark {
    --background: hsl(20 14.3% 4.1%);
    --foreground: hsl(0 0% 95%);
    --card: hsl(24 9.8% 10%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(24 9.8% 10%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(0 0% 16.08%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
    --chart-1: hsl(220 70% 50%);
    --chart-2: hsl(160 60% 45%);
    --chart-3: hsl(30 80% 55%);
    --chart-4: hsl(280 65% 60%);
    --chart-5: hsl(340 75% 55%);
    --sidebar-background: hsl(0 0% 7%);
    --sidebar-foreground: hsl(0 0% 95.9%);
    --sidebar-primary: hsl(360, 100%, 100%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(0 0% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(0 0% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --sidebar: hsl(240 5.9% 10%);
} */

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    /* Custom slim scrollbar styles */
    * {
        @apply [&::-webkit-scrollbar]:w-1;
        @apply [&::-webkit-scrollbar]:h-1;
        @apply [&::-webkit-scrollbar-track]:rounded-full;
        @apply [&::-webkit-scrollbar-track]:bg-gray-100;
        @apply [&::-webkit-scrollbar-thumb]:rounded-full;
        @apply [&::-webkit-scrollbar-thumb]:bg-gray-300;
        @apply dark:[&::-webkit-scrollbar-track]:bg-neutral-700;
        @apply dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
    }
}

@layer utilities {
    /* Chrome, Safari, and Opera */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    /* Firefox */
    .scrollbar-hidden {
        scrollbar-width: none;
    }

    /* IE and Edge */
    .scrollbar-hidden {
        -ms-overflow-style: none;
    }
}

:root {
    --background: hsl(0 0% 97.6471%);
    --foreground: hsl(0 0% 12.5490%);
    --card: hsl(0 0% 98.8235%);
    --card-foreground: hsl(0 0% 12.5490%);
    --popover: hsl(0 0% 98.8235%);
    --popover-foreground: hsl(0 0% 12.5490%);
    --primary: hsl(16.6667 21.9512% 32.1569%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(34.0541 100.0000% 85.4902%);
    --secondary-foreground: hsl(16.2712 50.4274% 22.9412%);
    --muted: hsl(0 0% 93.7255%);
    --muted-foreground: hsl(0 0% 39.2157%);
    --accent: hsl(0 0% 90.9804%);
    --accent-foreground: hsl(0 0% 12.5490%);
    --destructive: hsl(10.1639 77.8723% 53.9216%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 84.7059%);
    --input: hsl(0 0% 84.7059%);
    --ring: hsl(16.6667 21.9512% 32.1569%);
    --chart-1: hsl(16.6667 21.9512% 32.1569%);
    --chart-2: hsl(34.0541 100.0000% 85.4902%);
    --chart-3: hsl(0 0% 90.9804%);
    --chart-4: hsl(34.5763 100.0000% 88.4314%);
    --chart-5: hsl(16.5000 24.3902% 32.1569%);
    --sidebar: hsl(0 0% 98.4314%);
    --sidebar-foreground: hsl(0 0% 14.5098%);
    --sidebar-primary: hsl(0 0% 20.3922%);
    --sidebar-primary-foreground: hsl(0 0% 98.4314%);
    --sidebar-accent: hsl(0 0% 96.8627%);
    --sidebar-accent-foreground: hsl(0 0% 20.3922%);
    --sidebar-border: hsl(0 0% 92.1569%);
    --sidebar-ring: hsl(0 0% 70.9804%);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  
  .dark {
    --background: hsl(0 0% 6.6667%);
    --foreground: hsl(0 0% 93.3333%);
    --card: hsl(0 0% 9.8039%);
    --card-foreground: hsl(0 0% 93.3333%);
    --popover: hsl(0 0% 9.8039%);
    --popover-foreground: hsl(0 0% 93.3333%);
    --primary: hsl(29.5082 100% 88.0392%);
    --primary-foreground: hsl(183.1579 54.2857% 6.8627%);
    --secondary: hsl(28.2353 17.5258% 19.0196%);
    --secondary-foreground: hsl(29.5082 100% 88.0392%);
    --muted: hsl(0 0% 13.3333%);
    --muted-foreground: hsl(0 0% 70.5882%);
    --accent: hsl(0 0% 16.4706%);
    --accent-foreground: hsl(0 0% 93.3333%);
    --destructive: hsl(10.1639 77.8723% 53.9216%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(45 14.2857% 10.9804%);
    --input: hsl(0 0% 28.2353%);
    --ring: hsl(29.5082 100% 88.0392%);
    --chart-1: hsl(29.5082 100% 88.0392%);
    --chart-2: hsl(28.2353 17.5258% 19.0196%);
    --chart-3: hsl(0 0% 16.4706%);
    --chart-4: hsl(30.0000 17.8571% 21.9608%);
    --chart-5: hsl(30 100% 87.8431%);
    --sidebar: hsl(240 5.8824% 10%);
    --sidebar-foreground: hsl(240 4.7619% 95.8824%);
    --sidebar-primary: hsl(224.2781 76.3265% 48.0392%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7037% 15.8824%);
    --sidebar-accent-foreground: hsl(240 4.7619% 95.8824%);
    --sidebar-border: hsl(240 3.7037% 15.8824%);
    --sidebar-ring: hsl(240 4.8780% 83.9216%);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }